In [3]:
import pandas as pd
import numpy as np
from warnings import warn
import dask.dataframe as dd
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
# ver la separacion, para determinar el sep="\t"
with open(r'C:\Users\Chamo\Desktop\Python\mis_paquetes\Proyecto_movie\title.ratings.tsv', 'r') as ratings:
    for i in range(3):
        print(ratings.readline())

tconst	averageRating	numVotes

tt0000001	5.7	2059

tt0000002	5.6	277

In [5]:
df_title_ratings = dd.read_csv(r'C:\Users\Chamo\Desktop\Python\mis_paquetes\Proyecto_movie\title.ratings.tsv',\
    sep='\t', na_values='\\N', low_memory=False)

In [6]:
df_title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001           5.70      2059
1  tt0000002           5.60       277
2  tt0000003           6.50      2020
3  tt0000004           5.30       180
4  tt0000005           6.20      2786

In [10]:
df_title_ratings.shape[0].compute()

1443621

In [11]:
 #Eliminar valores NaN
df_title_ratings = df_title_ratings.dropna()

In [16]:
# Eliminar duplicados 
df_title_ratings = df_title_ratings.drop_duplicates(subset=['tconst'])

In [13]:
df_title_ratings.shape[0].compute()

1443621

In [17]:
# Combertir a DF de pandas.
df_title_ratings = df_title_ratings.compute()

In [18]:
type(df_title_ratings)

pandas.core.frame.DataFrame

In [19]:
df_title_ratings.shape[0]

1443621

In [23]:
df_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1443621 entries, 0 to 1443620
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1443621 non-null  object
 1   averageRating  1443621 non-null  float64
 2   numVotes       1443621 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 44.1+ MB

In [24]:
df_title_ratings.describe()

       averageRating   numVotes
count     1443621.00 1443621.00
mean            6.96    1032.36
std             1.38   17696.14
min             1.00       5.00
25%             6.20      11.00
50%             7.20      26.00
75%             7.90     101.00
max            10.00 2901903.00

In [25]:
df_title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001           5.70      2059
1  tt0000002           5.60       277
2  tt0000003           6.50      2020
3  tt0000004           5.30       180
4  tt0000005           6.20      2786

In [27]:
rows_with_nan = df_title_ratings.isna().any(axis=1).sum() # verificar si tiene columnas con  NaN
print(rows_with_nan)

0

In [28]:
# Guardarlo como archivo csv
df_title_ratings.to_csv('C:/Users/Chamo/Documents/df_title_ratings.csv',sep='\t' ,index=False)